*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*medida fija/absoluta --> px */
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
header{
    /*altura/anchura relativa */
     height: 5vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: space-between;*/
    align-items: center;
    color: white;
}
header #menu{
    flex-basis: 5%;
    
}
header #buscar{
    flex-basis: 30%;
    background-color: blue;
    
}
header figure{
    flex-basis: 10%; /*widht*/
    height: 100%;
}
header figure img{
    height: 100%; /*70% de la height del padre*/
    
}
header form{
    flex-basis: 20%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
header form input{
    flex-basis: 50%;
    width: 80%;
    border-radius: 20px;
    font-size: 20px;
    color: blue;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
header nav{
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
header nav a{
    
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav a:hover{
    color: aquamarine;
}
header #carrito{
    /* border: 1px solid white; */
    color: white;
    flex-basis: 10%; 
    display: flex;
    flex-direction: row; /* ejej principal */
    flex-wrap: nowrap;   
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */
}
header #carrito i{
    font-size: 25px;
    color: green;
}
main{
    flex-basis: 65%;
    background-color: rgb(255, 255, 255);
    
}
main section{
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;

}
main section article{
position: relative;
border: 1px solid black;
flex-basis: 24.5%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;

/*distancia exterior*/
margin:5px 0px 5px 0px ;

border-radius: 8px;
/* relleno interno*/
padding: 5px 10px 5px 10px ;
/*efecto sombra*/
transition: all 0.2s ease-in;


}
main section article:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0,1);
    transform: translateY(-3PX);
    background-color: antiquewhite;

}
main section article .envio{
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: rgb(202,78,148);
    border-radius: 5px;
    padding: 3px;
    color: white;
    font-weight: bold;
    width: 40%;
    

}
main section article figure{
    border: 1px solid none;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main section article figure img{
    flex-basis: 100%;
}
main section article p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main section article .valoraciones{
     /*border: 0px solid none;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}
main section article .valoraciones .star{
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}
main section article .valoraciones .star i{
    color: yellow;
    font-size: 12px;
}
main section article .valoraciones .valoraciones{
     font-size: 12px;
     font-weight:bold;
    
}


main figure{
    
    display: flex;
    align-items: first baseline;
    
}
footer{
    flex-basis: 30%;
    background-color: black;
    display: flex;
    flex-direction: row;
    /*todos los hijos en una sola linea*/
    flex-wrap: wrap;
}
footer nav#sociales{
    background-color:none;
    flex-basis: 50%; /*height*/
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}
footer nav#sociales a{
    /*Estado del reposo*/
    text-decoration: none;
    border: 0px solid black; 
    background-color:lightgreen;
    /* elemento en linea pero con propiedades de bloque */
    display: inline-block;
    
    width: 30px;
    height: 30px;
    border-radius:50px;
    margin-right: 7px;;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*realizar un cambio animado*/
    transition: all 0.3s ease-in-out; 
}
footer nav#sociales a:hover{
    /* facto de transformacion */
    transform: 
    translate(0px, -10px)
    rotate(60deg)
    scale(1.2);
}
footer nav#sociales a i {
    font-size: 20px;
    color: white;
}
footer div#SUSCRIBETE{
    background-color: rgb(55, 190, 21);
    flex-basis: 50%;
   
}
footer article{
    background-color: cadetblue;
    flex-basis: 33%;
    
    
    
}
footer article h3{
    color: whitesmoke;
    text-transform: uppercase;
    margin-left: 15px;
    margin-bottom: 20px; 
    margin-top: 15px;
    
}

footer article nav{
    display: flex;
    flex-direction: column;
    border: 1px solid none;
    margin-left: 25px;
}
footer article nav a{
   
    border: 1px solid none;
    text-decoration: none;
    margin-bottom: 10px;

}
footer article nav a i{
    font-size: 20px;
    color: whitesmoke;
    
}
footer article nav a span{
    color: whitesmoke;
}
footer article nav a:hover span{
    color: lightgreen;
}
footer article nav a i img{
    color: red
}
